@model Dress
@{
    ViewData["Title"] = "Detail";
}

<div class = "main-panel">
    <div class = "d-flex">
        <h4 class = "text-warning">Main Image:</h4>
        <img style = "width: 250px; height: 150px" src = "~/assets/img/@Model.Images.FirstOrDefault(x => x.isMain == true)?.Name" />
    </div>
    @foreach (Image item in @Model.Images.Where(x => x.isMain == false))
   {
       <div class = "d-flex">
        <h4 class = "text-warning">Another Images:</h4>
        <img style = "width: 250px; height: 150px" src = "~/assets/img/@item.Name" />
    </div>
   }
   <div class = "mt-3 d-flex">
        <h4 class = "text-warning">Price:</h4>
        <h3>@Model.Price</h3>
    </div>
    <div class = "mt-3 d-flex">
        <h3 class = "text-warning">Description:</h3>
        <h4>@Model.Desc</h4>
    </div>
    <div class = "mt-3 d-flex">
        <h4 class = "text-warning">DressInformation:</h4>
        <h3>@Model.DressInformation.Name</h3>
    </div>
    <div class = "mt-3 d-flex">
        <h4 class = "text-warning">Category:</h4>
        <h3>@Model.Category.Name</h3>
    </div>
</div>